@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/Nunito-300-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Nunito-400-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/Nunito-600-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/Nunito-700-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Nunito-300.woff2") format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Nunito-400.woff2") format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Nunito-600.woff2") format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Nunito-700.woff2") format("woff2");
}

@layer base {
  :root {
    --gray1: #fcfcfc;
    --gray2: #f9f9f9;
    --gray3: #f0f0f0;
    --gray4: #e8e8e8;
    --gray5: #e0e0e0;
    --gray6: #d9d9d9;
    --gray7: #cecece;
    --gray8: #bbbbbb;
    --gray9: #8d8d8d;
    --gray10: #838383;
    --gray11: #646464;
    --gray12: #202020;

    --grayA4: #00000017;
  }

  .dark {
    --gray1: #111111;
    --gray2: #191919;
    --gray3: #222222;
    --gray4: #2a2a2a;
    --gray5: #313131;
    --gray6: #3a3a3a;
    --gray7: #484848;
    --gray8: #606060;
    --gray9: #6e6e6e;
    --gray11: #b4b4b4;
    --gray12: #eeeeee;

    --grayA4: #ffffff1b;
  }
}
